# Import libraries

In [1038]:
import pandas as pd
import requests

import csv
from getpass import getpass
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from bs4 import BeautifulSoup

import random

# Table 1 - Provinces

In [2]:
# From Project_1

In [4]:
Provinces = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\provinces.csv")

In [5]:
Provinces

    province_id                       name
0             1                    Alberta
1             2           British Columbia
2             3                   Manitoba
3             4              New Brunswick
4             5  Newfoundland and Labrador
5             6      Northwest Territories
6             7                Nova Scotia
7             8                    Nunavut
8             9                    Ontario
9            10       Prince Edward Island
10           11                     Quebec
11           12               Saskatchewan
12           13                      Yukon

# Table 2 - Cities

In [6]:
# From Project_1

In [103]:
Cities = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\cities.csv")

In [104]:
Cities

     city_id           name  province_id area(km²) population
0          1        Airdrie            1     84.57      43271
1          2       Beaumont            1     10.47      13284
2          3         Brooks            1     18.59      13676
3          4        Calgary            1    825.56    1096833
4          5        Camrose            1     42.62      17286
..       ...            ...          ...       ...        ...
389      390  Swift Current           12     24.04      16604
390      391         Warman           12      8.54      11020
391      392        Weyburn           12     18.49      10870
392      393        Yorkton           12     25.77      16343
393      394     Whitehorse           13    416.54      25085

[394 rows x 5 columns]

# Table 3 - Area_code

In [274]:
area_codes = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\area_codes.csv")

In [275]:
area_codes

    area_code_id  area_code
0              1        514
1              2        902
2              3        519
3              4        647
4              5        905
5              6        778
6              7        780
7              8        782
8              9        403
9             10        416
10            11        289
11            12        418
12            13        548
13            14        807
14            15        431
15            16        306
16            17        819
17            18        437
18            19        438
19            20        825
20            21        705
21            22        450
22            23        579
23            24        709
24            25        581
25            26        587
26            27        204
27            28        343
28            29        604
29            30        226
30            31        867
31            32        613
32            33        873
33            34        250
34            35        236
35            36        365
36            37        367
37            38        249
38            39        506
39            40        639

# Table 4 - Province_Area_code (many-to-many)

In [262]:
province_area_code = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\province_area_code.csv")

In [264]:
province_area_code

    area_code_id  province_id
0              9            1
1             26            1
2              7            1
3             20            1
4             35            2
5              6            2
6             34            2
7             29            2
8             15            3
9             27            3
10            39            4
11            24            5
12            31            6
13            31            8
14            31           13
15             2            7
16             8            7
17             2           10
18             8           10
19            30            9
20            11            9
21            32            9
22            14            9
23            18            9
24            38            9
25            28            9
26            10            9
27             3            9
28             4            9
29             5            9
30            36            9
31            13            9
32            21            9
33            37           11
34            23           11
35            33           11
36             1           11
37            25           11
38            17           11
39            19           11
40            12           11
41            22           11
42            16           12
43            40           12

# main_data preprocessed to build other tables

In [19]:
data = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\main_data_preprocessed.csv")

In [20]:
data

,index,province,city,building_type,bathrooms,bedrooms,storeys,broker_first_name,broker_last_name,broker_area_code,...,organization_fax_number,property_postal_code,property_address,property_ownership_type,parking_space_total,parking_type,price,property_type,interior_size,description
0,0,Alberta,Airdrie,House,2.0,2 + 2,1.0,Farrah,Khoja,403.0,...,229-0239,T4B1K9,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",Freehold,2.0,Detached Garage (2),"$389,900",Single Family,852 sqft,Welcome home! This charming bi-level is locate...
1,1,Alberta,Airdrie,House,3.0,3 + 0,2.0,Erick,Dillmann,403.0,...,239-4659,T3P0W9,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",Unknown,4.0,Attached Garage (2),"$569,900",Single Family,1851 sqft,Shows like new and move in ready. CLICK VIRTUA...
2,2,Alberta,Airdrie,House,4.0,3 + 1,2.0,Anna,Pitt,403.0,...,282-6299,T4B2R5,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",Unknown,4.0,Attached Garage (2),"$429,800",Single Family,1609 sqft,"Search and you shall seek, a wonderful family ..."
3,3,Alberta,Airdrie,House,3.0,3 + 3,1.0,Glenn,Heslop,403.0,...,648-2765,T4A1G5,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",Unknown,4.0,"Detached Garage (2), Garage, Heated Garage, Ot...","$349,700",Single Family,1127.21 sqft,**BLACK FRIDAY SPECIAL** Turning onto this qui...
4,4,Alberta,Airdrie,Row / Townhouse,1.0,2 + 0,1.0,Ryan,Smith,403.0,...,271-5909,T3P0V8,"254 Livingston Common NE|Calgary, Alberta T3P0V8",Condominium/Strata,1.0,Attached Garage (1),"$277,302",Single Family,883 sqft,Welcome to the Ruby at the Octave in Livingsto...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,118612,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,...,No,Y1A0N9,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96531,118613,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,...,No,Y1A0N9,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96532,118614,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,...,No,Y1A4A1,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96533,118615,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,...,No,Y1A4A1,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96534,118616,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,...,No,Y1A4A1,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...

In [28]:
data = data.drop(['index'], axis = 1)

In [29]:
data

,province,city,building_type,bathrooms,bedrooms,storeys,broker_first_name,broker_last_name,broker_area_code,broker_phone_number,...,organization_fax_number,property_postal_code,property_address,property_ownership_type,parking_space_total,parking_type,price,property_type,interior_size,description
0,Alberta,Airdrie,House,2.0,2 + 2,1.0,Farrah,Khoja,403.0,923-9445,...,229-0239,T4B1K9,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",Freehold,2.0,Detached Garage (2),"$389,900",Single Family,852 sqft,Welcome home! This charming bi-level is locate...
1,Alberta,Airdrie,House,3.0,3 + 0,2.0,Erick,Dillmann,403.0,828-1120,...,239-4659,T3P0W9,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",Unknown,4.0,Attached Garage (2),"$569,900",Single Family,1851 sqft,Shows like new and move in ready. CLICK VIRTUA...
2,Alberta,Airdrie,House,4.0,3 + 1,2.0,Anna,Pitt,403.0,605-7073,...,282-6299,T4B2R5,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",Unknown,4.0,Attached Garage (2),"$429,800",Single Family,1609 sqft,"Search and you shall seek, a wonderful family ..."
3,Alberta,Airdrie,House,3.0,3 + 3,1.0,Glenn,Heslop,403.0,826-5693,...,648-2765,T4A1G5,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",Unknown,4.0,"Detached Garage (2), Garage, Heated Garage, Ot...","$349,700",Single Family,1127.21 sqft,**BLACK FRIDAY SPECIAL** Turning onto this qui...
4,Alberta,Airdrie,Row / Townhouse,1.0,2 + 0,1.0,Ryan,Smith,403.0,700-9737,...,271-5909,T3P0V8,"254 Livingston Common NE|Calgary, Alberta T3P0V8",Condominium/Strata,1.0,Attached Garage (1),"$277,302",Single Family,883 sqft,Welcome to the Ruby at the Octave in Livingsto...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,334-4384,...,No,Y1A0N9,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96531,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,334-4384,...,No,Y1A0N9,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96532,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96533,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96534,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...

In [30]:
data.columns

Index(['province', 'city', 'building_type', 'bathrooms', 'bedrooms', 'storeys',
       'broker_first_name', 'broker_last_name', 'broker_area_code',
       'broker_phone_number', 'broker_position', 'organization_name',
       'organization_address', 'organization_type',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number',
       'property_postal_code', 'property_address', 'property_ownership_type',
       'parking_space_total', 'parking_type', 'price', 'property_type',
       'interior_size', 'description'],
      dtype='object')

# Table 5 - Property_type

In [35]:
name = data['property_type'].unique()

In [36]:
property_type_id = range(1, 4)

In [37]:
Property_type = pd.DataFrame(list(zip(property_type_id, name)), columns = ['property_type_id','name'])

In [38]:
Property_type

   property_type_id           name
0                 1  Single Family
1                 2   Multi-family
2                 3   Recreational

In [39]:
Property_type.to_csv('property_type.csv', index=False)

# Table 6 - Building_type

In [40]:
name = data['building_type'].unique()
name

array(['House', 'Row / Townhouse', 'Apartment',
       'Manufactured Home/Mobile', 'Duplex', 'Recreational',
       'Manufactured Home', 'Mobile Home', 'Fourplex', 'Triplex',
       'Multi-Family', 'Other', 'Two Apartment House', 'Modular'],
      dtype=object)

In [41]:
len(name)

14

In [42]:
building_type_id = range(1, 15)

In [43]:
Building_type = pd.DataFrame(list(zip(building_type_id, name)), columns = ['building_type_id','name'])

In [44]:
Building_type

    building_type_id                      name
0                  1                     House
1                  2           Row / Townhouse
2                  3                 Apartment
3                  4  Manufactured Home/Mobile
4                  5                    Duplex
5                  6              Recreational
6                  7         Manufactured Home
7                  8               Mobile Home
8                  9                  Fourplex
9                 10                   Triplex
10                11              Multi-Family
11                12                     Other
12                13       Two Apartment House
13                14                   Modular

In [45]:
Building_type.to_csv('building_type.csv', index=False)

# Table 7 - Property_ownership_type

In [77]:
name = data['Property_ownership_type'].unique()
name

array(['Freehold', 'Unknown', 'Condominium/Strata', 'Leasehold', 'Strata',
       'Leasehold Condo/Strata', 'Shares in Co-operative',
       'Other, See Remarks', 'Timeshare/Fractional', 'Freehold Condo',
       'Life Lease', 'Condominium', 'Cooperative',
       'Undivided Co-ownership'], dtype=object)

In [84]:
len(name)

14

In [85]:
property_ownership_type_id = range(1, 15)

In [86]:
Property_ownership_type = pd.DataFrame(list(zip(property_ownership_type_id, name)), columns = ['property_ownership_type_id','name'])

In [87]:
Property_ownership_type

    property_ownership_type_id                    name
0                            1                Freehold
1                            2                 Unknown
2                            3      Condominium/Strata
3                            4               Leasehold
4                            5                  Strata
5                            6  Leasehold Condo/Strata
6                            7  Shares in Co-operative
7                            8      Other, See Remarks
8                            9    Timeshare/Fractional
9                           10          Freehold Condo
10                          11              Life Lease
11                          12             Condominium
12                          13             Cooperative
13                          14  Undivided Co-ownership

In [88]:
Property_ownership_type.to_csv('property_ownership_type.csv', index=False)

# Table 8 - Estate

In [220]:
data

,province,city,building_type,bathrooms,bedrooms,storeys,broker_first_name,broker_last_name,broker_area_code,broker_phone_number,...,organization_fax_number,property_postal_code,property_address,property_ownership_type,parking_space_total,parking_type,price,property_type,interior_size,description
0,Alberta,Airdrie,House,2.0,2 + 2,1.0,Farrah,Khoja,403.0,923-9445,...,229-0239,T4B1K9,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",Freehold,2.0,Detached Garage (2),"$389,900",Single Family,852 sqft,Welcome home! This charming bi-level is locate...
1,Alberta,Airdrie,House,3.0,3 + 0,2.0,Erick,Dillmann,403.0,828-1120,...,239-4659,T3P0W9,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",Unknown,4.0,Attached Garage (2),"$569,900",Single Family,1851 sqft,Shows like new and move in ready. CLICK VIRTUA...
2,Alberta,Airdrie,House,4.0,3 + 1,2.0,Anna,Pitt,403.0,605-7073,...,282-6299,T4B2R5,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",Unknown,4.0,Attached Garage (2),"$429,800",Single Family,1609 sqft,"Search and you shall seek, a wonderful family ..."
3,Alberta,Airdrie,House,3.0,3 + 3,1.0,Glenn,Heslop,403.0,826-5693,...,648-2765,T4A1G5,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",Unknown,4.0,"Detached Garage (2), Garage, Heated Garage, Ot...","$349,700",Single Family,1127.21 sqft,**BLACK FRIDAY SPECIAL** Turning onto this qui...
4,Alberta,Airdrie,Row / Townhouse,1.0,2 + 0,1.0,Ryan,Smith,403.0,700-9737,...,271-5909,T3P0V8,"254 Livingston Common NE|Calgary, Alberta T3P0V8",Condominium/Strata,1.0,Attached Garage (1),"$277,302",Single Family,883 sqft,Welcome to the Ruby at the Octave in Livingsto...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,334-4384,...,No,Y1A0N9,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96531,Yukon,Whitehorse,Apartment,1.0,0,1.0,James,Lopushinsky,867.0,334-4384,...,No,Y1A0N9,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Condominium/Strata,1.0,Garage,"$309,900",Single Family,353 sqft,Finally! A Downtown 353 sq. ft. Micro suite ne...
96532,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96533,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...
96534,Yukon,Whitehorse,Row / Townhouse,3.0,3,1.0,Marj,Eschak,867.0,332-6000,...,No,Y1A4A1,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Condominium/Strata,1.0,Garage,"$579,000",Single Family,2037 sqft,Meadow & Mountain Views! Overlooking Versluce ...

In [221]:
data.columns

Index(['province', 'city', 'building_type', 'bathrooms', 'bedrooms', 'storeys',
       'broker_first_name', 'broker_last_name', 'broker_area_code',
       'broker_phone_number', 'broker_position', 'organization_name',
       'organization_address', 'organization_type',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number',
       'property_postal_code', 'property_address', 'property_ownership_type',
       'parking_space_total', 'parking_type', 'price', 'property_type',
       'interior_size', 'description'],
      dtype='object')

In [222]:
Cities

     city_id           name  province_id area(km²) population
0          1        Airdrie            1     84.57      43271
1          2       Beaumont            1     10.47      13284
2          3         Brooks            1     18.59      13676
3          4        Calgary            1    825.56    1096833
4          5        Camrose            1     42.62      17286
..       ...            ...          ...       ...        ...
389      390  Swift Current           12     24.04      16604
390      391         Warman           12      8.54      11020
391      392        Weyburn           12     18.49      10870
392      393        Yorkton           12     25.77      16343
393      394     Whitehorse           13    416.54      25085

[394 rows x 5 columns]

In [223]:
estate_id = range(1, len(data) + 1)

In [224]:
Estate = pd.DataFrame(list(zip(estate_id, data['province'], data['city'], data['property_address'], data['property_postal_code'], data['property_type'], data['building_type'], data['storeys'],data['interior_size'], data['bedrooms'], data['bathrooms'], data['price'], data['description'],data['property_ownership_type'])), columns = ['estate_id','province','city', 'address', 'property_postal_code','property_type','building_type','storeys','interior_size','bedrooms', 'bathrooms', 'price','description','property_ownership_type'])

In [225]:
Estate

,estate_id,province,city,address,property_postal_code,property_type,building_type,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type
0,1,Alberta,Airdrie,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,Single Family,House,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold
1,2,Alberta,Airdrie,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,Single Family,House,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown
2,3,Alberta,Airdrie,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,Single Family,House,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown
3,4,Alberta,Airdrie,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,Single Family,House,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown
4,5,Alberta,Airdrie,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,Single Family,Row / Townhouse,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,Yukon,Whitehorse,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata
96531,96532,Yukon,Whitehorse,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata
96532,96533,Yukon,Whitehorse,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata
96533,96534,Yukon,Whitehorse,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata
96534,96535,Yukon,Whitehorse,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata

In [226]:
_province = Provinces.rename(columns={'name': 'province'})
result = pd.merge(Estate,_province, how='left',on='province')

In [227]:
result

,estate_id,province,city,address,property_postal_code,property_type,building_type,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type,province_id
0,1,Alberta,Airdrie,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,Single Family,House,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold,1
1,2,Alberta,Airdrie,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,Single Family,House,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown,1
2,3,Alberta,Airdrie,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,Single Family,House,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown,1
3,4,Alberta,Airdrie,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,Single Family,House,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown,1
4,5,Alberta,Airdrie,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,Single Family,Row / Townhouse,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,Yukon,Whitehorse,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13
96531,96532,Yukon,Whitehorse,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13
96532,96533,Yukon,Whitehorse,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13
96533,96534,Yukon,Whitehorse,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13
96534,96535,Yukon,Whitehorse,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13

In [228]:
_city = Cities.rename(columns={'name': 'city'})
result = pd.merge(result,_city, how='left',on=['city','province_id'])

In [229]:
result

,estate_id,province,city,address,property_postal_code,property_type,building_type,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type,province_id,city_id,area(km²),population
0,1,Alberta,Airdrie,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,Single Family,House,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold,1,1,84.57,43271
1,2,Alberta,Airdrie,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,Single Family,House,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown,1,1,84.57,43271
2,3,Alberta,Airdrie,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,Single Family,House,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown,1,1,84.57,43271
3,4,Alberta,Airdrie,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,Single Family,House,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown,1,1,84.57,43271
4,5,Alberta,Airdrie,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,Single Family,Row / Townhouse,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata,1,1,84.57,43271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,Yukon,Whitehorse,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13,394,416.54,25085
96531,96532,Yukon,Whitehorse,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13,394,416.54,25085
96532,96533,Yukon,Whitehorse,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085
96533,96534,Yukon,Whitehorse,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085
96534,96535,Yukon,Whitehorse,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085

In [230]:
_property_type = Property_type.rename(columns={'name': 'property_type'})
result = pd.merge(result,_property_type, how='left',on='property_type')

In [231]:
result

,estate_id,province,city,address,property_postal_code,property_type,building_type,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type,province_id,city_id,area(km²),population,property_type_id
0,1,Alberta,Airdrie,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,Single Family,House,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold,1,1,84.57,43271,1
1,2,Alberta,Airdrie,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,Single Family,House,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown,1,1,84.57,43271,1
2,3,Alberta,Airdrie,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,Single Family,House,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown,1,1,84.57,43271,1
3,4,Alberta,Airdrie,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,Single Family,House,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown,1,1,84.57,43271,1
4,5,Alberta,Airdrie,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,Single Family,Row / Townhouse,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata,1,1,84.57,43271,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,Yukon,Whitehorse,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13,394,416.54,25085,1
96531,96532,Yukon,Whitehorse,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,Single Family,Apartment,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,13,394,416.54,25085,1
96532,96533,Yukon,Whitehorse,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085,1
96533,96534,Yukon,Whitehorse,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085,1
96534,96535,Yukon,Whitehorse,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,Single Family,Row / Townhouse,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,13,394,416.54,25085,1

In [232]:
_building_type = Building_type.rename(columns={'name': 'building_type'})
result = pd.merge(result,_building_type, how='left',on='building_type')

In [233]:
result.columns

Index(['estate_id', 'province', 'city', 'address', 'property_postal_code',
       'property_type', 'building_type', 'storeys', 'interior_size',
       'bedrooms', 'bathrooms', 'price', 'description',
       'property_ownership_type', 'province_id', 'city_id', 'area(km²)',
       'population', 'property_type_id', 'building_type_id'],
      dtype='object')

In [235]:
result = result.drop(columns=['province','city','property_type','building_type','area(km²)',
                    'population'], axis=1)

In [236]:
result.columns

Index(['estate_id', 'address', 'property_postal_code', 'storeys',
       'interior_size', 'bedrooms', 'bathrooms', 'price', 'description',
       'property_ownership_type', 'province_id', 'city_id', 'property_type_id',
       'building_type_id'],
      dtype='object')

In [237]:
Estate = pd.DataFrame(list(zip(result['estate_id'],result['province_id'],result['city_id'],result['address'],
                               result['property_postal_code'],result['property_type_id'],result['building_type_id'],
                              result['storeys'],result['interior_size'],result['bedrooms'],
                               result['bathrooms'],result['price'],result['description'],result['property_ownership_type'])), 
                      columns = ['estate_id','province_id','city_id','address','property_postal_code',
                                 'property_type_id','building_type_id','storeys','interior_size','bedrooms',
                                 'bathrooms','price','description','property_ownership_type'])

In [1034]:
Estate

,estate_id,province_id,city_id,address,property_postal_code,property_type_id,building_type_id,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type
0,1,1,1,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,1,1,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold
1,2,1,1,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,1,1,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown
2,3,1,1,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,1,1,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown
3,4,1,1,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,1,1,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown
4,5,1,1,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,1,2,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,13,394,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,1,3,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata
96531,96532,13,394,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,1,3,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata
96532,96533,13,394,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata
96533,96534,13,394,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata
96534,96535,13,394,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata

In [1035]:
Owner = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Tables\owner.csv")

In [1036]:
Owner

       owner_id first_name last_name  city_id  area_code phone_number
0             1    Michael     Munoz       72        581     122-6966
1             2    Matthew     James       50        709     327-9480
2             3    Vanessa     Clark      220        873     430-7628
3             4      Cesar    Howard       29        867     286-6868
4             5      Corey    Flores       28        548     995-2266
...         ...        ...       ...      ...        ...          ...
69995     69996      Jamie     Brown       19        306     753-7370
69996     69997      Tracy   Hubbard      112        306     362-7796
69997     69998     Joseph     Kelly      210        579     579-4699
69998     69999      Steve    Morgan      280        403     850-7595
69999     70000    Richard  Williams      339        514     190-3505

[70000 rows x 6 columns]

In [1040]:
own = []
for i in range(96535):
    own.append(random.randint(1,70001))

own

[69144,
 15335,
 47538,
 62921,
 41545,
 43919,
 6364,
 32320,
 33634,
 52343,
 43622,
 49695,
 40153,
 42013,
 49330,
 30145,
 44845,
 15627,
 53393,
 69610,
 67681,
 69164,
 42538,
 65671,
 64260,
 12160,
 48482,
 60079,
 69521,
 40617,
 56563,
 11867,
 17727,
 17614,
 58845,
 57226,
 46606,
 13713,
 44057,
 1101,
 59275,
 36805,
 20658,
 56607,
 10188,
 17828,
 410,
 54443,
 15496,
 65766,
 5283,
 69208,
 20363,
 50963,
 20630,
 67117,
 13886,
 46734,
 39633,
 10016,
 40186,
 769,
 27278,
 62708,
 9808,
 18097,
 15012,
 33723,
 69258,
 27500,
 28500,
 18685,
 14177,
 25689,
 42582,
 56095,
 20495,
 26824,
 15180,
 32695,
 31361,
 9647,
 3560,
 19414,
 48321,
 68532,
 18966,
 27444,
 59659,
 37304,
 49118,
 28873,
 35211,
 15292,
 56879,
 68677,
 37986,
 34398,
 4805,
 51050,
 40124,
 44691,
 7206,
 60597,
 37662,
 2844,
 55344,
 20716,
 48292,
 68659,
 67198,
 24254,
 34021,
 35533,
 62090,
 39198,
 61953,
 24830,
 7052,
 27787,
 42531,
 66092,
 24224,
 20729,
 11951,
 3060,
 1922,
 40854,
 16443,
 7290,
 39744,
 39401,
 43181,
 32301,
 45419,
 19923,
 22692,
 3268,
 49671,
 9221,
 62024,
 47537,
 22647,
 42862,
 65698,
 36984,
 3789,
 1922,
 48895,
 17553,
 57130,
 15635,
 55364,
 68519,
 5854,
 31936,
 26292,
 52778,
 53211,
 19434,
 1886,
 21906,
 17986,
 58980,
 57619,
 41271,
 11535,
 6741,
 17082,
 589,
 60265,
 24187,
 27597,
 7504,
 25138,
 28490,
 54852,
 4673,
 37833,
 36396,
 29224,
 52791,
 59959,
 65547,
 28208,
 21190,
 69380,
 50885,
 34684,
 4439,
 2066,
 29650,
 59537,
 15611,
 36359,
 58681,
 59519,
 33038,
 14807,
 27734,
 1357,
 63204,
 57783,
 11954,
 4328,
 22017,
 65177,
 42946,
 5561,
 20983,
 43137,
 5936,
 34717,
 67300,
 56404,
 19869,
 58587,
 64349,
 12833,
 15210,
 47895,
 23271,
 40738,
 17849,
 11754,
 67763,
 14350,
 554,
 28283,
 48887,
 29330,
 52824,
 622,
 25345,
 64214,
 13316,
 53053,
 65451,
 23867,
 46629,
 31679,
 18548,
 13698,
 3105,
 52802,
 59151,
 39040,
 53255,
 16134,
 26337,
 11737,
 27231,
 11166,
 53980,
 1391,
 36551,
 67272,
 7732,
 47768,
 11164,
 33513,
 26904,
 54622,
 4372,
 45988,
 34346,
 10180,
 5511,
 4195,
 55348,
 50798,
 16795,
 47821,
 9947,
 25796,
 57749,
 61738,
 15920,
 68963,
 6581,
 21495,
 45209,
 8099,
 18950,
 54882,
 17415,
 16104,
 32352,
 12255,
 65677,
 62925,
 68607,
 61800,
 51620,
 20412,
 59035,
 44393,
 26318,
 13791,
 46656,
 7447,
 43171,
 45839,
 39014,
 44922,
 21167,
 20075,
 66286,
 47953,
 57303,
 12138,
 19009,
 57585,
 40975,
 32481,
 61140,
 43509,
 40032,
 900,
 46426,
 45455,
 59346,
 51012,
 45554,
 14070,
 27618,
 32767,
 53797,
 62405,
 22692,
 24718,
 12107,
 5431,
 9245,
 63523,
 66831,
 24243,
 30661,
 32026,
 58987,
 23820,
 44409,
 29579,
 9132,
 60205,
 13674,
 36918,
 24168,
 43348,
 5554,
 58309,
 65266,
 2488,
 69086,
 24458,
 52127,
 15399,
 59660,
 12385,
 56844,
 60194,
 63812,
 54887,
 49411,
 59230,
 47274,
 25412,
 11355,
 33188,
 11317,
 68214,
 8805,
 49258,
 9238,
 23169,
 63028,
 39110,
 4369,
 56818,
 36216,
 2023,
 8405,
 2429,
 69913,
 29932,
 33171,
 57769,
 20564,
 53941,
 14929,
 22302,
 28170,
 29013,
 51956,
 4138,
 22642,
 26653,
 58054,
 67575,
 2295,
 9923,
 53215,
 25434,
 13162,
 11595,
 13715,
 44752,
 23830,
 64841,
 19182,
 29306,
 52552,
 36806,
 22148,
 10816,
 55119,
 16123,
 4982,
 25391,
 20169,
 34569,
 10879,
 42896,
 56098,
 18975,
 10864,
 38314,
 42193,
 68054,
 27879,
 13431,
 38053,
 8864,
 9305,
 38971,
 599,
 22552,
 32564,
 38306,
 41464,
 5054,
 30203,
 69289,
 43306,
 6309,
 33785,
 29880,
 60064,
 51944,
 46536,
 51895,
 12628,
 66050,
 7568,
 69810,
 49316,
 16104,
 28672,
 22261,
 60943,
 16574,
 13808,
 36401,
 10566,
 3008,
 14833,
 40385,
 54230,
 62227,
 34495,
 48008,
 60184,
 15466,
 29315,
 9266,
 48216,
 68235,
 8496,
 65903,
 8244,
 23017,
 53781,
 1980,
 68250,
 58015,
 48165,
 61124,
 24251,
 39423,
 59387,
 68445,
 69270,
 31888,
 52318,
 24909,
 63092,
 68088,
 4080,
 16126,
 40127,
 33405,
 58675,
 66986,
 46637,
 64690,
 25984,
 37663,
 44783,
 24474,
 57235,
 12346,
 3443,
 44081,
 4015,
 17058,
 30549,
 15037,
 22521,
 50404,
 65822,
 37908,
 42847,
 26037,
 8445,
 46214,
 30795,
 43106,
 41187,
 63868,
 15604,
 52535,
 34181,
 65805,
 2209,
 9189,
 62511,
 40588,
 6174,
 61430,
 10570,
 26973,
 32756,
 15341,
 27888,
 3601,
 7064,
 64616,
 57084,
 370,
 28031,
 48626,
 7584,
 26583,
 14219,
 30029,
 40627,
 33712,
 35130,
 33233,
 2077,
 15965,
 37963,
 66400,
 67344,
 296,
 21294,
 35667,
 26829,
 56861,
 33842,
 16586,
 23496,
 40414,
 32689,
 65198,
 10407,
 16463,
 69876,
 26678,
 67359,
 58106,
 21956,
 7622,
 18271,
 10512,
 4826,
 65528,
 63310,
 53614,
 7829,
 3323,
 5572,
 51166,
 69092,
 62229,
 37245,
 57353,
 49598,
 20492,
 29650,
 13424,
 69269,
 63893,
 57289,
 45100,
 16187,
 365,
 26670,
 57101,
 30442,
 38970,
 3136,
 39581,
 5233,
 45136,
 21222,
 57502,
 8061,
 22545,
 55077,
 51152,
 69510,
 29436,
 18213,
 63001,
 42971,
 6373,
 60091,
 26575,
 18284,
 9801,
 18645,
 11120,
 64193,
 19941,
 48572,
 31014,
 5614,
 69300,
 8848,
 51638,
 49077,
 4394,
 8751,
 54769,
 39726,
 24651,
 46854,
 43057,
 7485,
 22219,
 46667,
 23450,
 68660,
 22266,
 3716,
 23156,
 39468,
 41680,
 40564,
 41319,
 56572,
 10297,
 53975,
 48672,
 5872,
 17233,
 17101,
 51050,
 32159,
 12652,
 24143,
 23291,
 52796,
 22280,
 54700,
 3639,
 14362,
 48896,
 33117,
 47800,
 8575,
 33913,
 62260,
 3442,
 40066,
 4956,
 22971,
 13823,
 31100,
 64943,
 61535,
 37989,
 43728,
 62557,
 17050,
 56292,
 15593,
 62852,
 63016,
 63045,
 346,
 27308,
 42671,
 61131,
 58225,
 56189,
 29955,
 27108,
 25156,
 67148,
 44805,
 28487,
 31077,
 18833,
 29474,
 38422,
 27341,
 12581,
 2666,
 1284,
 52835,
 39403,
 29383,
 11388,
 18048,
 58593,
 25150,
 10981,
 17692,
 5274,
 1708,
 7340,
 19323,
 46058,
 69640,
 42701,
 62228,
 58799,
 17457,
 23765,
 49344,
 59770,
 65484,
 41900,
 45782,
 33466,
 42629,
 53643,
 28627,
 6709,
 38533,
 2750,
 45695,
 515,
 3528,
 14332,
 16595,
 26129,
 46003,
 11951,
 41155,
 63380,
 65737,
 49572,
 29910,
 56459,
 57504,
 685,
 41244,
 13156,
 18093,
 34958,
 3180,
 26467,
 42670,
 49494,
 26770,
 63587,
 61840,
 23102,
 27026,
 2981,
 37664,
 25472,
 31871,
 65580,
 55480,
 11617,
 37070,
 54508,
 51016,
 21998,
 17041,
 13899,
 18231,
 33527,
 26988,
 51025,
 44973,
 9437,
 55252,
 36190,
 12335,
 41432,
 2991,
 33345,
 39180,
 56467,
 54591,
 62133,
 26821,
 41916,
 66853,
 68199,
 19161,
 10830,
 66572,
 15590,
 7194,
 34881,
 15763,
 48421,
 26562,
 55803,
 27884,
 5456,
 60792,
 21705,
 17550,
 46583,
 56328,
 52840,
 13168,
 53299,
 8150,
 9256,
 21208,
 65676,
 6424,
 57829,
 40449,
 52561,
 35702,
 40738,
 49398,
 51737,
 65242,
 66652,
 59792,
 94,
 52752,
 64880,
 11594,
 36452,
 18920,
 57145,
 26708,
 68360,
 754,
 23622,
 35280,
 32151,
 37171,
 64198,
 45308,
 45801,
 23672,
 65431,
 66672,
 38750,
 50399,
 29925,
 50375,
 68091,
 23342,
 2799,
 59767,
 26123,
 42047,
 13985,
 32120,
 21844,
 19705,
 34348,
 48710,
 20596,
 28785,
 43814,
 62831,
 69683,
 60515,
 35079,
 38523,
 27283,
 55360,
 49931,
 66444,
 36077,
 1222,
 10141,
 54527,
 49317,
 5408,
 13496,
 69108,
 12559,
 42947,
 26726,
 30570,
 49095,
 34384,
 22344,
 54454,
 744,
 29792,
 38868,
 33397,
 47053,
 23987,
 30466,
 36896,
 61071,
 63766,
 66953,
 15740,
 58199,
 22161,
 17237,
 32272,
 62155,
 31359,
 35676,
 60178,
 25805,
 9335,
 37687,
 39914,
 64404,
 7425,
 22517,
 10288,
 60414,
 35365,
 31258,
 8099,
 35587,
 18587,
 11810,
 59762,
 6749,
 24003,
 47224,
 11178,
 10357,
 37189,
 53434,
 41135,
 26571,
 39690,
 10129,
 13841,
 42492,
 3918,
 21802,
 20527,
 14808,
 11427,
 16995,
 11967,
 7787,
 5899,
 4403,
 63678,
 52739,
 6894,
 25449,
 56664,
 28217,
 9741,
 38999,
 2539,
 68354,
 50898,
 46059,
 47953,
 3782,
 17272,
 25512,
 10881,
 20497,
 11080,
 57786,
 16525,
 17912,
 9642,
 16940,
 53804,
 21659,
 23404,
 ...]

In [1051]:
Estate['owner_id'] = own

In [1052]:
Estate

,estate_id,province_id,city_id,address,property_postal_code,property_type_id,building_type_id,storeys,interior_size,bedrooms,bathrooms,price,description,property_ownership_type,owner_id
0,1,1,1,"105 Alpine Crescent SE|Airdrie, Alberta T4B1K9",T4B1K9,1,1,1.0,852 sqft,2 + 2,2.0,"$389,900",Welcome home! This charming bi-level is locate...,Freehold,69144
1,2,1,1,"73 Howse Terrace NE|Calgary, Alberta T3P0W9",T3P0W9,1,1,2.0,1851 sqft,3 + 0,3.0,"$569,900",Shows like new and move in ready. CLICK VIRTUA...,Unknown,15335
2,3,1,1,"167 Creek Gardens Close NW|Airdrie, Alberta T4...",T4B2R5,1,1,2.0,1609 sqft,3 + 1,4.0,"$429,800","Search and you shall seek, a wonderful family ...",Unknown,47538
3,4,1,1,"5 Big Springs Crescent SE|Airdrie, Alberta T4A1G5",T4A1G5,1,1,1.0,1127.21 sqft,3 + 3,3.0,"$349,700",**BLACK FRIDAY SPECIAL** Turning onto this qui...,Unknown,62921
4,5,1,1,"254 Livingston Common NE|Calgary, Alberta T3P0V8",T3P0V8,1,2,1.0,883 sqft,2 + 0,1.0,"$277,302",Welcome to the Ruby at the Octave in Livingsto...,Condominium/Strata,41545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96530,96531,13,394,"402-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,1,3,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,65275
96531,96532,13,394,"403-100 KEISH STREET|Whitehorse, Yukon Y1A0N9",Y1A0N9,1,3,1.0,353 sqft,0,1.0,"$309,900",Finally! A Downtown 353 sq. ft. Micro suite ne...,Condominium/Strata,12629
96532,96533,13,394,"4-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,26325
96533,96534,13,394,"5-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,54395
96534,96535,13,394,"2-1805 DOGWOOD STREET|Whitehorse, Yukon Y1A4A1",Y1A4A1,1,2,1.0,2037 sqft,3,3.0,"$579,000",Meadow & Mountain Views! Overlooking Versluce ...,Condominium/Strata,11258

In [1053]:
Estate.to_csv('estate.csv', index=False)

# Table 8 - Organization

In [955]:
data.columns

Index(['province', 'city', 'building_type', 'bathrooms', 'bedrooms', 'storeys',
       'broker_first_name', 'broker_last_name', 'broker_area_code',
       'broker_phone_number', 'broker_position', 'organization_name',
       'organization_address', 'organization_type',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number',
       'property_postal_code', 'property_address', 'property_ownership_type',
       'parking_space_total', 'parking_type', 'price', 'property_type',
       'interior_size', 'description'],
      dtype='object')

In [956]:
df = data[['organization_name','organization_type','province','city','organization_address',
           'organization_phone_area_code','organization_phone_number',
          'organization_fax_area_code','organization_fax_number']]

In [957]:
df

,organization_name,organization_type,province,city,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,CENTURY 21 BAMBER REALTY LTD.,Firm,Alberta,Airdrie,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2% REALTY,Firm,Alberta,Airdrie,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,MAXWELL CAPITAL REALTY,Firm,Alberta,Airdrie,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,EXP REALTY,Firm,Alberta,Airdrie,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,CIR REALTY,Firm,Alberta,Airdrie,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909
...,...,...,...,...,...,...,...,...,...
96530,COLDWELL BANKER REDWOOD REALTY,Firm,Yukon,Whitehorse,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96531,COLDWELL BANKER REDWOOD REALTY,Firm,Yukon,Whitehorse,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96532,COLDWELL BANKER REDWOOD REALTY,Firm,Yukon,Whitehorse,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96533,COLDWELL BANKER REDWOOD REALTY,Firm,Yukon,Whitehorse,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96534,COLDWELL BANKER REDWOOD REALTY,Firm,Yukon,Whitehorse,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No

In [958]:
df = df.drop_duplicates()

In [959]:
df = df.drop('organization_type',1)

In [960]:
df = df.drop(['province','city'],1)

In [961]:
df = df.drop_duplicates()

In [962]:
df

,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909
...,...,...,...,...,...,...
96365,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905
96447,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132
96449,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96457,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No
96460,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No

In [963]:
# df['organization_phone_area_code'] = pd.Series(map(lambda x:x[:3],df['organization_phone_area_code']))

In [964]:
# df['organization_fax_area_code'] = pd.Series(map(lambda x:x[:3],df['organization_fax_area_code']))

In [965]:
df.head()

,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909

In [966]:
df.tail()

,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
96365,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905
96447,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132
96449,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
96457,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No
96460,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No

In [967]:
df.columns

Index(['organization_name', 'organization_address',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number'],
      dtype='object')

In [968]:
df = df.reset_index()

In [969]:
df = df.drop('index',1)

In [970]:
df

,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909
...,...,...,...,...,...,...
4048,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905
4049,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132
4050,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
4051,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No
4052,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No

In [971]:
organization_id = range(1,4054)

In [972]:
df['organization_id'] = organization_id

In [973]:
df

,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number,organization_id
0,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239,1
1,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659,2
2,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299,3
3,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765,4
4,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909,5
...,...,...,...,...,...,...,...
4048,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905,4049
4049,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132,4050
4050,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No,4051
4051,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No,4052
4052,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No,4053

In [974]:
Organization = df.iloc[:, [6,0,1,2,3,4,5]]

In [975]:
Organization = Organization.drop_duplicates()

In [976]:
Organization

,organization_id,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,1,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,3,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,4,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,5,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909
...,...,...,...,...,...,...,...
4048,4049,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905
4049,4050,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132
4050,4051,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
4051,4052,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No
4052,4053,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No

In [977]:
Organization.to_csv('organization.csv', index=False)

# Table 9 - Position

In [621]:
data.columns

Index(['province', 'city', 'building_type', 'bathrooms', 'bedrooms', 'storeys',
       'broker_first_name', 'broker_last_name', 'broker_area_code',
       'broker_phone_number', 'broker_position', 'organization_name',
       'organization_address', 'organization_type',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number',
       'property_postal_code', 'property_address', 'property_ownership_type',
       'parking_space_total', 'parking_type', 'price', 'property_type',
       'interior_size', 'description'],
      dtype='object')

In [622]:
brok_pos = data['broker_position'].unique()

In [623]:
len(brok_pos)

21

In [624]:
position_id = range(1,22)

In [625]:
Position = pd.DataFrame(list(zip(position_id, brok_pos)), columns = ['position_id','name'])

In [626]:
Position

    position_id                              name
0             1                         Associate
1             2                  Broker of Record
2             3                  Associate Broker
3             4                            Broker
4             5                           Manager
5             6  Personal Real Estate Corporation
6             7                       Salesperson
7             8                    Broker Manager
8             9                Real Estate Broker
9            10      Certified Real Estate Broker
10           11                 Associate Manager
11           12                     Agent Manager
12           13                      Broker Owner
13           14    Residential Real Estate Broker
14           15                      Sales Person
15           16      Chartered Real Estate Broker
16           17                          REALTOR®
17           18  Real Estate Sales Representative
18           19              REALTOR® Salesperson
19           20                 Real Estate Agent
20           21     Commercial Real Estate Broker

In [627]:
Position.to_csv('position.csv', index=False)

# Table 10 - Broker

In [1012]:
data.columns

Index(['province', 'city', 'building_type', 'bathrooms', 'bedrooms', 'storeys',
       'broker_first_name', 'broker_last_name', 'broker_area_code',
       'broker_phone_number', 'broker_position', 'organization_name',
       'organization_address', 'organization_type',
       'organization_phone_area_code', 'organization_phone_number',
       'organization_fax_area_code', 'organization_fax_number',
       'property_postal_code', 'property_address', 'property_ownership_type',
       'parking_space_total', 'parking_type', 'price', 'property_type',
       'interior_size', 'description'],
      dtype='object')

In [1013]:
a = data[['broker_first_name','broker_last_name','broker_position','organization_name','broker_area_code','broker_phone_number']].drop_duplicates()

In [1014]:
a

,broker_first_name,broker_last_name,broker_position,organization_name,broker_area_code,broker_phone_number
0,Farrah,Khoja,Associate,CENTURY 21 BAMBER REALTY LTD.,403.0,923-9445
1,Erick,Dillmann,Associate,2% REALTY,403.0,828-1120
2,Anna,Pitt,Associate,MAXWELL CAPITAL REALTY,403.0,605-7073
3,Glenn,Heslop,Associate,EXP REALTY,403.0,826-5693
4,Ryan,Smith,Associate,CIR REALTY,403.0,700-9737
...,...,...,...,...,...,...
96484,MIKE,RACZ,Broker,RE/MAX ACTION REALTY,867.0,333-6410
96485,Judy,Freake,Broker,2% Realty Midnight Sun,867.0,336-0631
96489,Wendy,Close,Broker,RE/MAX ACTION REALTY,867.0,667-7239
96490,Tamara,Cromarty,Broker,COLDWELL BANKER REDWOOD REALTY,867.0,334-9476
96494,Jacklyn,Stockstill,Broker,COLDWELL BANKER REDWOOD REALTY,867.0,336-8001

In [1015]:
broker_id = range(1,19363)

In [1016]:
Broker = pd.DataFrame(list(zip(broker_id,a['broker_first_name'],a['broker_last_name'],a['organization_name'],
                               a['broker_position'],a['broker_area_code'],a['broker_phone_number'])), 
                      columns = ['broker_id','first_name','last_name','organization','position',
                                'broker_area_code','broker_phone_number'])

In [1017]:
Broker

,broker_id,first_name,last_name,organization,position,broker_area_code,broker_phone_number
0,1,Farrah,Khoja,CENTURY 21 BAMBER REALTY LTD.,Associate,403.0,923-9445
1,2,Erick,Dillmann,2% REALTY,Associate,403.0,828-1120
2,3,Anna,Pitt,MAXWELL CAPITAL REALTY,Associate,403.0,605-7073
3,4,Glenn,Heslop,EXP REALTY,Associate,403.0,826-5693
4,5,Ryan,Smith,CIR REALTY,Associate,403.0,700-9737
...,...,...,...,...,...,...,...
19357,19358,MIKE,RACZ,RE/MAX ACTION REALTY,Broker,867.0,333-6410
19358,19359,Judy,Freake,2% Realty Midnight Sun,Broker,867.0,336-0631
19359,19360,Wendy,Close,RE/MAX ACTION REALTY,Broker,867.0,667-7239
19360,19361,Tamara,Cromarty,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,334-9476
19361,19362,Jacklyn,Stockstill,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,336-8001

In [1018]:
O = Organization.drop(['organization_id','organization_address','organization_phone_area_code','organization_phone_number','organization_fax_area_code','organization_fax_number'],1)

In [1019]:
O = O.drop_duplicates()

In [1020]:
O_id = range(1,3262)

In [1021]:
O['organization_id'] = O_id

In [1022]:
O

                   organization_name  organization_id
0      CENTURY 21 BAMBER REALTY LTD.                1
1                          2% REALTY                2
2             MAXWELL CAPITAL REALTY                3
3                         EXP REALTY                4
4                         CIR REALTY                5
...                              ...              ...
4047           Core Real Estate Inc.             3257
4049            RE/MAX ACTION REALTY             3258
4050  COLDWELL BANKER REDWOOD REALTY             3259
4051              URBAN REALTY GROUP             3260
4052          2% Realty Midnight Sun             3261

[3261 rows x 2 columns]

In [1023]:
Broker = pd.merge(Broker,O[['organization_id','organization_name']], how='left',left_on='organization',right_on='organization_name')

In [1024]:
Broker

,broker_id,first_name,last_name,organization,position,broker_area_code,broker_phone_number,organization_id,organization_name
0,1,Farrah,Khoja,CENTURY 21 BAMBER REALTY LTD.,Associate,403.0,923-9445,1,CENTURY 21 BAMBER REALTY LTD.
1,2,Erick,Dillmann,2% REALTY,Associate,403.0,828-1120,2,2% REALTY
2,3,Anna,Pitt,MAXWELL CAPITAL REALTY,Associate,403.0,605-7073,3,MAXWELL CAPITAL REALTY
3,4,Glenn,Heslop,EXP REALTY,Associate,403.0,826-5693,4,EXP REALTY
4,5,Ryan,Smith,CIR REALTY,Associate,403.0,700-9737,5,CIR REALTY
...,...,...,...,...,...,...,...,...,...
19357,19358,MIKE,RACZ,RE/MAX ACTION REALTY,Broker,867.0,333-6410,3258,RE/MAX ACTION REALTY
19358,19359,Judy,Freake,2% Realty Midnight Sun,Broker,867.0,336-0631,3261,2% Realty Midnight Sun
19359,19360,Wendy,Close,RE/MAX ACTION REALTY,Broker,867.0,667-7239,3258,RE/MAX ACTION REALTY
19360,19361,Tamara,Cromarty,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,334-9476,3259,COLDWELL BANKER REDWOOD REALTY
19361,19362,Jacklyn,Stockstill,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,336-8001,3259,COLDWELL BANKER REDWOOD REALTY

In [1025]:
Broker = pd.merge(Broker,Position, how='left',left_on='position',right_on='name')

In [1026]:
Broker

,broker_id,first_name,last_name,organization,position,broker_area_code,broker_phone_number,organization_id,organization_name,position_id,name
0,1,Farrah,Khoja,CENTURY 21 BAMBER REALTY LTD.,Associate,403.0,923-9445,1,CENTURY 21 BAMBER REALTY LTD.,1,Associate
1,2,Erick,Dillmann,2% REALTY,Associate,403.0,828-1120,2,2% REALTY,1,Associate
2,3,Anna,Pitt,MAXWELL CAPITAL REALTY,Associate,403.0,605-7073,3,MAXWELL CAPITAL REALTY,1,Associate
3,4,Glenn,Heslop,EXP REALTY,Associate,403.0,826-5693,4,EXP REALTY,1,Associate
4,5,Ryan,Smith,CIR REALTY,Associate,403.0,700-9737,5,CIR REALTY,1,Associate
...,...,...,...,...,...,...,...,...,...,...,...
19357,19358,MIKE,RACZ,RE/MAX ACTION REALTY,Broker,867.0,333-6410,3258,RE/MAX ACTION REALTY,4,Broker
19358,19359,Judy,Freake,2% Realty Midnight Sun,Broker,867.0,336-0631,3261,2% Realty Midnight Sun,4,Broker
19359,19360,Wendy,Close,RE/MAX ACTION REALTY,Broker,867.0,667-7239,3258,RE/MAX ACTION REALTY,4,Broker
19360,19361,Tamara,Cromarty,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,334-9476,3259,COLDWELL BANKER REDWOOD REALTY,4,Broker
19361,19362,Jacklyn,Stockstill,COLDWELL BANKER REDWOOD REALTY,Broker,867.0,336-8001,3259,COLDWELL BANKER REDWOOD REALTY,4,Broker

In [1027]:
Broker.columns

Index(['broker_id', 'first_name', 'last_name', 'organization', 'position',
       'broker_area_code', 'broker_phone_number', 'organization_id',
       'organization_name', 'position_id', 'name'],
      dtype='object')

In [1029]:
Broker = Broker.drop(['organization','position','name','organization_name'],axis=1)

In [1030]:
Broker.head()

,broker_id,first_name,last_name,broker_area_code,broker_phone_number,organization_id,position_id
0,1,Farrah,Khoja,403.0,923-9445,1,1
1,2,Erick,Dillmann,403.0,828-1120,2,1
2,3,Anna,Pitt,403.0,605-7073,3,1
3,4,Glenn,Heslop,403.0,826-5693,4,1
4,5,Ryan,Smith,403.0,700-9737,5,1

In [1031]:
Broker = Broker.loc[:, ["broker_id","first_name","last_name","organization_id",'position_id','broker_area_code','broker_phone_number']]

In [1032]:
Broker

,broker_id,first_name,last_name,organization_id,position_id,broker_area_code,broker_phone_number
0,1,Farrah,Khoja,1,1,403.0,923-9445
1,2,Erick,Dillmann,2,1,403.0,828-1120
2,3,Anna,Pitt,3,1,403.0,605-7073
3,4,Glenn,Heslop,4,1,403.0,826-5693
4,5,Ryan,Smith,5,1,403.0,700-9737
...,...,...,...,...,...,...,...
19357,19358,MIKE,RACZ,3258,4,867.0,333-6410
19358,19359,Judy,Freake,3261,4,867.0,336-0631
19359,19360,Wendy,Close,3258,4,867.0,667-7239
19360,19361,Tamara,Cromarty,3259,4,867.0,334-9476
19361,19362,Jacklyn,Stockstill,3259,4,867.0,336-8001

In [1033]:
Broker.to_csv('broker.csv', index=False)